<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>{{ "Equipment" | localize }}</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu"
                            class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [placeholder]="l('Filter')" [(ngModel)]="keyword"
                                        (keyup)="searchPhrase($event)" name="keyword">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select [placeholder]="l('Item Type')" [(ngModel)]="typeId" name="typeId"
                                        (selectionChange)="refresh()">
                                        <mat-option value="">{{ 'All' | localize }}</mat-option>
                                        <mat-option *ngFor="let type of types" value="{{ type.id }}">
                                            {{ type.title | localize}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <!--query end-->
                <table class="table table-hover table-striped" [busy]="isTableLoading" *ngIf="units.length > 0">
                    <thead>
                        <tr>
                            <th>{{ "Date Received" | localize }}</th>
                            <th>{{ "Type" | localize }}</th>
                            <th>{{ "Item" | localize }}</th>
                            <th>{{ "Product Serial" | localize }}</th>
                            <th>{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                                    let item of (units
                                      | paginate
                                        : {
                                            id: 'server',
                                            itemsPerPage: pageSize,
                                            currentPage: pageNumber,
                                            totalItems: units.length
                                          })
                                  ">
                            <td>{{ item.usageDate | date:'y/M/d H:m' }}</td>
                            <td> {{ item.equipment.equipmentType.title }} </td>
                            <td>{{ item.equipment.title }}</td>
                            <td>{{ item.productSerial }}</td>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item [routerLink]="['/app/repo', item.id]" class="hover-black" >
                                        <mat-icon>description</mat-icon>
                                        <span>{{ "View Details" | localize }}</span>
                                    </button>
                                    <button mat-menu-item class="hover-purple" (click)="returnItem(item)" >
                                        <mat-icon>unarchive</mat-icon>
                                        <span>{{ "Return Item" | localize }}</span>
                                    </button>
                                    <button mat-menu-item class="hover-red" (click)="logFault(item)" >
                                        <mat-icon>report</mat-icon>
                                        <span>{{ "Report Fault" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-striped" [busy]="isTableLoading" *ngIf="units.length === 0">
                    <tr>
                        <td class="text-center" >List Empty</td>
                    </tr>
                </table>
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                    <button mat-mini-fab color="primary" class="pull-right" title="Request Item" [routerLink]="['/app/acquisitions']" >
                        <mat-icon>add</mat-icon>
                    </button>
            </div>
        </div>
    </div>
</div>