<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{ departmentName }} <span class="event-detail-header"><i class="fa {{ departmentIcon }}"></i> </span>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <div class="form-actions">
                            <button type="button" [routerLink]="['/org/departments']" class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i> {{l('Back To Departments')}}</button>
                            <button *ngIf="!isRegistered() && !isDeleted" type="button" class="btn bg-green waves-effect waves-light" (click)="updateDepartment()"><i class="fa fa-edit"></i> {{l('Change Details')}}</button>
                            <button *ngIf="!isDeleted" type="button" class="btn bg-red waves-effect waves-light" (click)="removeDepartment()"><i class="fa fa-remove"></i> {{l('Remove Department')}}</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div>
                    {{ department.description }}
                </div>
                <h5>
                    {{l("Employees " + department.employeesCount ) }}
                </h5>

                <hr />

                <table *ngIf="employees.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{l('Name')}}</th>
                            <th>{{l('Surname')}}</th>
                            <th>{{l('Email Address')}}</th>
                            <th>{{l('ID Number')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of department.employees">
                            <td>{{emp.user.name}}</td>
                            <td>{{emp.user.surname}}</td>
                            <td>{{emp.user.emailAddress}}</td>
                            <td>{{emp.idNo }}</td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf="employees.length === 0" class="table table-hover">
                    <tr><td class="text-center">List Empty</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<create-dept-modal #createDeptModal (modalSave)="refresh()"></create-dept-modal>