<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="text-right"> {{title}} <i class="{{ itemType.fontIcon }}"></i></h2>
                <ul class="header-back">
                    <li>
                        <button mat-icon-button class="header-dropdown-mat-icon-button" title="back to list"
                            [routerLink]="['/app/repo']">
                            <mat-icon class="flip-x">forward</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div class="row clearfix slim">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-md-6"> Item Serial <span></span> </div>
                            <div class="col-md-6"> <span class="text-bold"> {{ item.productSerial }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"> Device Type <span></span> </div>
                            <div class="col-md-6"> <span class="text-bold"> {{ itemType.title }} </span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"> Date Received <span></span> </div>
                            <div class="col-md-6"> <span class="text-bold">{{ item.usageDate | date:'y/M/d H:m' }} </span> </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="text-warning"> {{ duration}} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success" (click)="returnItem()" ><i class="fa fa-check"></i>&nbsp;&nbsp;<span class="text-bold">Return Item</span></button>
                                &nbsp;
                                <button class="btn btn-danger" (click)="logFault()" ><i class="fa fa-warning"></i>&nbsp;&nbsp;<span class="text-bold">Report Fault</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 dotted left">
                            <span class="pre-line">{{ specs }} </span> 
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <img [src]="itemPhoto" height="320" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <span class="pre-line">{{ description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>