<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="block-header row">
            <div class="col-md-3">
                <h2>
                    {{l('Equipment')}} ( <input type="checkbox" id="includeDeletedEquipment"
                        [(ngModel)]="filter.includeDeleted" (change)="includeDeletedEquipmentCheckboxChanged()">
                    <label for="includeDeletedEquipment">Deleted</label> )
                </h2>
            </div>
            <div class="col-md-3">
                <mat-select matInput name="ItemType" #cmbItemType [placeholder]="'Equipment Type'"
                    [(ngModel)]="filter.filterType" (selectionChange)="itemTypeComboboxChanged()">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let type of itemTypes" [value]="type.id">{{ type.title }}</mat-option>
                </mat-select>
            </div>
            <div class="col-md-3">
                <mat-select matInput name="DepartmentId" #cmbDeptId [placeholder]="'Department'"
                    [(ngModel)]="filter.filterDept" (selectionChange)="departmentComboboxChanged()">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.department.deptName }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" data-toggle="modal"
                    class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
                    (click)="createItem()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>

        <div class="row">
            <div *ngIf="equipment.length < 1" class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>List Empty <small class="item-description">use "+" button to your top right to add
                                one</small></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngFor="let item of (equipment
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                })" style="min-height: 186px;">
                <div class="card">
                    <div [class]="item.isDeleted ? 'header bg-red' : 'header'">
                        <h2>
                            {{item.title}} <small class="item-description">{{ item.specs}}</small>
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <i class="{{ item.equipmentType.fontIcon }} black"></i>
                            </li>
                        </ul>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <small>
                                    {{'Units '+ item.allUnits.length }}
                                </small>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                    [routerLink]="['/app/items', item.id]">
                                    <span>{{l("Details")}}</span>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>