<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a routerLink="/app/home" class="navbar-brand"
                style="background: url(./assets/images/ebox-tiny.png) no-repeat center;color: transparent;">EMS09</a>
            <a class="navbar-brand">{{ tenancyName }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <topbar-languageswitch></topbar-languageswitch>
                <li *ngIf="tenantId" ><a [routerLink]="['/app/home']" routerLinkActive="router-link-active"   data-close="true" title="operations"><i class="material-icons">dashboard</i></a></li>
                <li><a routerLink="/org" data-close="true" title="Business"><i class="material-icons">business</i></a>
                </li>
                <li *ngIf="false"><a routerLink="/host" data-close="true" title="Host"><i
                            class="material-icons">reorder</i></a></li>
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i
                            class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </div>
</nav>