<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="block-header row">
            <div class="col-md-6">
                <h2>
                    {{l('Departments')}}
                    (<input type="checkbox" id="includeDeletedDepartments" [(ngModel)]="includeDeletedDepartments"
                        (change)="includeDeletedDepartmentsCheckboxChanged()">
                    <label for="includeDeletedDepartments">{{l("Show Removed Departments")}}</label>)
                </h2>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" data-toggle="modal"
                    class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
                    (click)="createDepartment()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6" *ngIf="departments.length === 0">
                    <div class="card">
                        <div class="header">
                            <h2>List Empty</h2><small>User the <b>"+"</b> button to your right corner, to start adding departments</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngFor="let department of departments">
                        <div class="card">
                                <div [class]="department.isDeleted ? 'header bg-red' : 'header'">
                                        <h2 class="custom">
                                                {{ department.department.deptName }} <small class="dept-description">{{ department.description }}</small>
                                            </h2>
                                            <ul class="header-dropdown m-r-0">
                                                    <li>
                                                        <i class="fa {{ department.department.fontIcon }} black"></i>
                                                    </li>
                                                </ul>
                                                <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <small>
                                    {{'Employees '+ department.employeesCount}}
                                </small>
                                <small>&nbsp;<b>|</b>&nbsp;</small>
                                <small>
                                    {{'Equipment '+ department.equipmentCount}}
                                </small>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn bg-deep-purple waves-effect btn-sm"
                                        [routerLink]="['/org/departments', department.id]">
                                    <span>{{l("Details")}}</span>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>
</div>
<create-dept-modal #createDeptModal (modalSave)="refresh()"></create-dept-modal>
