<div class="card" [@routerTransition]>
    <div #cardBody class="body">
      <form novalidate  #registerTenantForm="ngForm" (ngSubmit)="save()">
        <h4 class="text-center">{{ "Register Organization" | localize }}</h4>
        <div class="form-group form-float">
            <mat-form-field>
                <input matInput
                   name="TenancyName"
                   [(ngModel)]="tenant.tenancyName"
                   [placeholder]="'TenancyName' | localize"
                   required
                   maxlength="64" minlength="2"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                    name="Name"
                    [(ngModel)]="tenant.name"
                    [placeholder]="'Organization Name' | localize"
                    required
                    maxlength="32"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                     type="email"
                     name="AdminEmailAddress"
                     [(ngModel)]="tenant.adminEmailAddress"
                     [placeholder]="'AdminEmailAddress' | localize"         
                     required
                     maxlength="255"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                   name="UserName"
                   [(ngModel)]="tenant.adminUserName"
                   [placeholder]="'UserName' | localize"         
                   required
                   maxlength="32"/>
          </mat-form-field>
            <mat-form-field>
               <input matInput
                      name="Password"
                      [(ngModel)]="tenant.password"
                      [placeholder]="'Password' | localize"
                      type="password"        
                      required
                      maxlength="32"/>
            </mat-form-field>
        </div>
        <div class="form-actions text-center">
              <button mat-button 
                      type="button"
                      [disabled]="saving"
                      [routerLink]="['../login']">
                      {{ "Back" | localize }}
              </button>
              <span>&nbsp;</span>
              <button mat-flat-button
                      type="submit"
                      flex="15"
                      color="primary"
                      [disabled]="!registerTenantForm.form.valid || saving">
                      {{ "Submit" | localize }}
              </button>    
        </div>
      </form>
    </div>
  </div>
  