<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <h2 *ngIf="items.length > 0 && !itemId" class="head-text">Nothing Selected</h2>

        <div class="card main-content border-open left top" *ngIf="items.length > 0 && itemId">
            <div class="header">
                <h2>{{ itemId ? "Equipment" : "Nothing Selected" | localize }}</h2>
                <ul class="header-dropdown m-r--5" *ngIf="itemId">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu"
                            class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="closeSelection()">
                                <mat-icon>clear</mat-icon>
                                <span>{{ "Close" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
                <mat-form-field>
                    <input matInput [placeholder]="l('Find Serial')" [(ngModel)]="serial" (keyup)="searchPhrase($event)"
                        name="serial">
                </mat-form-field>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover table-striped" [busy]="isTableLoading"
                    *ngIf="itemId && units.length === 0">
                    <tr>
                        <td class="text-center text-bold">list empty</td>
                    </tr>
                </table>
                <table class="table table-hover table-striped" [busy]="isTableLoading"
                    *ngIf="itemId && units.length > 0">
                    <thead>
                        <tr>
                            <th>{{ "Product Serial" | localize }}</th>
                            <th class="text-center">{{ "Condition" | localize }}</th>
                            <th class="text-center">{{ "Usage" | localize }}</th>
                            <th class="text-center">{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let unit of units">
                            <td> {{unit.productSerial}} </td>
                            <td [ngClass]="{'text-center': true}" [class]="unit.isFit ? 'text-success' : 'text-danger'"> {{unit.isFit ? 'good' : 'faulty'}}</td>
                            <td [ngClass]="{'text-center': true}" [class]="unit.userId ? 'text-warning' : 'text-primary'"> {{unit.userId ? 'in use' : 'available'}}</td>
                            <td align="center">
                                    <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu" class="hover-purple" *ngIf="!unit.userId && unit.isFit">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #actionsMenu="matMenu">
                                        <button mat-menu-item (click)="makeRequest(unit)" class="hover-black" >
                                            <mat-icon>add_circle</mat-icon>
                                            <span>{{ "Request Item" | localize }}</span>
                                        </button>
                                    </mat-menu>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row" style="height: 400px;">
            <div class="col-md-12" *ngIf="items.length === 0">
                <div class="card">
                    <div [class]="'header'">
                        <h2>
                            List Empty <small class="event-description">Make sure you clear all filteres, or that your
                                department does have equipment.</small>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngFor="let item of (items
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                }); let i = index">
                <div class="card">
                    <div [class]="'header item border-open right'" [ngClass]="{'top': i === 0}" [id]="'heard_'+item.id">
                        <h2>
                            <u>{{item.title}}</u> <small class="event-description nowrap">{{item.specs}}</small>
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <i class="{{ item.equipmentType.fontIcon }} black"></i>
                            </li>
                            <li>
                                <span>{{item.creationTime | date:'short'}}</span>
                            </li>
                        </ul>
                        <hr />
                        <div class="row">
                            <div class="col-md-7">
                                <small style="font-weight: 700;color: #000;">
                                    Units :
                                    {{ (item.allUnits.length - (item.unitsInUse.length + item.faultyUnits.length)) + '/' + item.allUnits.length }}
                                </small>
                                <span class="seperator">|</span>
                                <small style="color: #410;">
                                    In Use : {{ item.unitsInUse.length }}
                                </small>
                                <span class="seperator">|</span>
                                <small style="color: #800;">
                                    Faulty : {{ item.faultyUnits.length }}
                                </small>
                            </div>
                            <div class="col-md-5 text-right">
                                <button type="button" class="btn ls-units no-disable btn-primary waves-effect btn-sm"
                                    (click)="selectItem(item.id)" [id]="'btn_' + item.id">
                                    <i class="fa fa-arrow-circle-left"></i>&nbsp;
                                    <span>{{l("Units")}}</span>
                                </button>
                                <button type="button" class="btn bg-deep-purple waves-effect btn-sm">
                                    <i class="fa fa-info-circle"></i>&nbsp;
                                    <span>{{l("Info")}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="card no-shadow border-open right bottom">
                    <div class="header custom">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [placeholder]="l('Filter')" [(ngModel)]="keyword"
                                        (keyup)="searchPhrase($event)" name="keyword">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select [placeholder]="l('Item Type')" [(ngModel)]="typeId" name="typeId"
                                        (selectionChange)="refresh()">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let type of types" value="{{ type.id }}">
                                            {{ type.title | localize}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="abp-pagination-controls-wrapper">
            <abp-pagination-controls id="unit_server">
            </abp-pagination-controls>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
            <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
            </abp-pagination-controls>
        </div>
    </div>
</div>