<form autocomplete="off" #dmlEquipmentModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ !_id ? 'Add New ' : 'Update ' }} Item</h1>
    <mat-dialog-content style="width:800px;">
        <mat-tab-group>
            <mat-tab [label]="'Item Details' | localize">
                <br/>
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="Title" [placeholder]="'Title' | localize" [(ngModel)]="item.title" required minlength="2" maxlength="50" />
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput name="Specs" [placeholder]="'Specifications' | localize" [(ngModel)]="item.specs"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput name="Description" [placeholder]="'Description' | localize" [(ngModel)]="item.description"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select matInput name="TypeId" #cmbTypeId [placeholder]="'Equipment Type'" [(ngModel)]="item.typeId" required>
                                <mat-option *ngFor="let type of types" [value]="type.id">{{ type.title }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select matInput name="DepartmentId" #cmbDeptId [placeholder]="'Select Department'" [(ngModel)]="item.departmentId" required>
                                <mat-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.department.deptName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-center img-rm" [ngClass]="{'outline' : item.image}">
                        <button *ngIf="item.image" class="btn btn-danger" title="remove image" (click)="rmImage()" ><i class="fa fa-trash"></i></button>
                        <img id="crop_preview" [src]="croppedImage" height="320" />
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'Photograph' | localize">
                <br/>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="">
                            <image-cropper #cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [containWithinAspectRatio]="true" [aspectRatio]="1 / 1" [roundCropper]="true" [resizeToWidth]="320" [onlyScaleDown]="true" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                            </image-cropper>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="file-input-prompt">
                            <label for="photo" class="btn">Select Image</label>
                            <input id="photo" type="file" (change)="fileChangeEvent($event)" accept="image/*" value="photograph" />
                        </div>
                    </div>
                    <div class="col-md-2"><button (click)="rotateLeft()" class="btn">Rotate left</button></div>
                    <div class="col-md-2"><button (click)="rotateRight()" class="btn">Rotate Right</button></div>
                    <div class="col-md-2"><button (click)="flipHorizontal()" class="btn">Flip horizontal</button></div>
                    <div class="col-md-2"><button (click)="flipVertical()" class="btn">Flip vertical</button></div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
                  {{ "Cancel" | localize }}
                </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!dmlEquipmentModal.form.valid || saving">
                  {{ "Save" | localize }}
        </button>
    </div>
</form>