<form autocomplete="off" #dmlUnitModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>Add New Unit</h1>
    <mat-dialog-content>
        <div class="row-fluid">
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput name="Serial" [placeholder]="'Product Serial' | localize" [(ngModel)]="unit.serial"
                        required minlength="2" maxlength="32" />
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary"
            [disabled]="!dmlUnitModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>