<div bsModal #createDeptModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #createDeptForm="ngForm" id="frm_create_department" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{ deptId ? "Update " : "Add New " }} Department</span>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <select  class="form-control" #selection name="departmentId" [(ngModel)]="department.departmentId" >
                                <option *ngFor="let dept of deptList" selected value="{{ dept.id }}" > {{ dept.deptName }} </option>
                            </select>
                            <label *ngIf="selection.value === ''" class="form-label">{{l("Selection")}}</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea name="Description" class="form-control" [placeholder]="'Description' | localize" [(ngModel)]="department.description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!createDeptForm.form.valid || saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>

            </form>

        </div>
    </div>
</div>