<form autocomplete="off" #delegationModal="ngForm" (ngSubmit)="save()">
        <div class="row">
                <div class="col-md-6">
                        <h1 mat-dialog-title><span class="text-bold text-small">item usage</span> &nbsp; <span *ngIf="department">{{ department }} Department</span>  </h1>
                </div>
                <div class="col-md-6">
                        <h4 class="text-right"> {{ title }} </h4>
                </div>
        </div>

        <mat-dialog-content style="width:800px;">
                <div class="row-fluid">
                        <div class="col-md-6">
                                <div class="row">
                                        <div class="col-12"><img id="item_photo" [src]="image" height="320" /></div>
                                </div>
                                <div class="box" style="border-top: 1px dotted #444; padding-top: .6em">
                                        <div class="row">
                                                <div class="col-md-6"> Item Serial <span></span> </div>
                                                <div class="col-md-6"> <span class="text-bold"> {{ serial }} </span>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6"> Date Captured <span></span> </div>
                                                <div class="col-md-6"> <span class="text-bold">
                                                                {{ captured | date:'y/M/d H:m' }} </span> </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6"> Device State <span></span> </div>
                                                <div class="col-md-6"> <span [ngClass]="{'text-bold': true}"
                                                                [class]=" good ? 'text-primary' : 'text-warning'">
                                                                {{ good ? 'Good Condition' : 'Faulty' }} </span> </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6" *ngIf="good">
                                <h3 [ngClass]="{'text-right' : true}"
                                        [class]="userid ? 'text-warning' : 'text-success'">
                                        {{ userid ? 'Item is currently In Use' : 'Item is now Available'}} </h3>
                                <div class="row" *ngIf="!userid">
                                        <div class="col-12">
                                                <table class="table padding">
                                                        <thead>
                                                                <th>Delegate</th>
                                                                <th>Employee</th>
                                                                <th class="text-center"></th>
                                                        </thead>
                                                        <tbody>
                                                                <tr *ngFor="let emp of staff">
                                                                        <td class="text-bold"> <i (click)="delegate(emp)" class="material-icons bounce-x selectable" title="click to assign item to employee">trending_flat</i>
                                                                        </td>
                                                                        <td> {{ emp.user.fullName }} </td>
                                                                        <td class="text-center"> <a target="_blank">view
                                                                                        profile</a> </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                                <div class="row" *ngIf="userid">
                                        <div class="col-12">
                                                <table class="table-right table-custom">
                                                        <tr>
                                                                <td>Employee Name </td>
                                                                <td> {{empName}} </td>
                                                        </tr>
                                                        <tr>
                                                                <td>ID NO </td>
                                                                <td> {{idNo}} </td>
                                                        </tr>
                                                        <tr>
                                                                <td>Email Address </td>
                                                                <td> {{email}} </td>
                                                        </tr>
                                                        <tr>
                                                                <td>Phone Number </td>
                                                                <td> {{phone}} </td>
                                                        </tr>
                                                        <tr>
                                                                <td>Using Since </td>
                                                                <td> {{ using | date:'y/M/d H:m' }} </td>
                                                        </tr>
                                                        <tr>
                                                                <td colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                                <td colspan="2" class="text-right"><button
                                                                        (click)="revoke()"
                                                                                class="btn btn-success text-bold">Revoke</button>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6" *ngIf="!good">
                                <h3 [class]="'text-danger'"> Device is currently Unusable </h3>
                        </div>
                </div>
        </mat-dialog-content>
</form>