<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{ item.title }} <span class="event-detail-header"><i class="{{ itemIcon }}"></i> </span>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <div class="form-actions">
                            <button type="button" [routerLink]="['/app/items']"
                                class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i>
                                {{l('Back To Equipment')}}</button>
                            <button *ngIf="!item.isDeleted" type="button" class="btn bg-green waves-effect waves-light"
                                (click)="updateItem()"><i class="fa fa-edit"></i> {{l('Change Details')}}</button>
                            <button *ngIf="!item.isDeleted" type="button" class="btn bg-red waves-effect waves-light"
                                (click)="deleteItem()"><i class="fa fa-remove"></i> {{l('Delete Item')}}</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-md-4 pre-line overflow-y120">
                        {{ item.specs }}
                    </div>
                    <div class="col-md-6 pre-line overflow-y120">
                        {{ item.description }}
                    </div>
                    <div class="col-md-2 text-right" style="margin-bottom: 0;">
                        <img [src]="itemPhoto" height="140" />
                    </div>
                </div>
                <p>
                    Type<b>: {{ itemType }}</b> <span class="seperator">|</span> Department<b>: {{ itemDept }}</b> <span
                        class="seperator">|</span> Units<b>: {{ item.unitsCount }} </b>
                    <button type="button" class="btn bg-deep-purple waves-effect btn-sm" style="margin-top: -.6em;"
                        title="Add New" (click)="addUnit()">
                        <i class="fa fa-plus"></i><span>{{l(" New")}}</span>
                    </button>
                </p>
                <hr>
                <table *ngIf="units.length === 0" class="table table-hover">
                    <tr>
                        <td class="text-center">There are currently No Units of the <b>{{ item.title }}</b> </td>
                    </tr>
                </table>
                <table class="table table-hover" *ngIf="units.length > 0">
                    <thead>
                        <tr>
                            <th>{{l('ID')}}</th>
                            <th>{{l('Product Serial')}}</th>
                            <th>{{l('Date Added')}}</th>
                            <th class="text-center">{{l('Available')}}</th>
                            <th class="text-center">{{l('Good Condition')}}</th>
                            <th class="text-center">{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let unit of item.units">
                            <td>{{unit.id}}</td>
                            <td>{{unit.productSerial}}</td>
                            <td>{{unit.date | date:'y/M/d H:m'}}</td>
                            <td align="center">
                                    <i class="material-icons" *ngIf="!unit.userId" style="color:#38f;" title="free">
                                        verified_user
                                    </i>
                                    <i class="material-icons" *ngIf="unit.userId" style="color:#b62;" title="occupied">
                                        error_outline
                                    </i>
                                </td>
                            <td align="center">
                                <i class="material-icons" *ngIf="unit.isFit" style="color:green;">
                                    thumb_up
                                </i>
                                <i class="material-icons" *ngIf="!unit.isFit" style="color:red;">
                                    warning
                                </i>
                            </td>
                            <td align="center">
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu" class="hover-purple">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item (click)="toggleCondition(unit)" title="toggle" class="hover-red" >
                                        <mat-icon>flag</mat-icon>
                                        <span>{{ "Condition" | localize }}</span>
                                    </button>
                                    <button mat-menu-item class="hover-black" (click)="itemUsage(unit)" >
                                        <mat-icon>people_alt</mat-icon>
                                        <span>{{ "Usage" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteUnit(unit)" title="permanently remove from database" class="hover-red">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ "Delete" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>