<div class="overlay"></div>

<top-bar #topBar ></top-bar>

<section (window:resize)="onResize($event)">
    <aside id="leftsidebar" class="sidebar">
        <sidebar-user-area></sidebar-user-area>
        <sidebar-nav></sidebar-nav>
        <sidebar-footer></sidebar-footer>
    </aside>

    <right-sidebar></right-sidebar>
</section>

<section class="content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>
