<div [@routerTransition]>
    <div class="block-header">
        <h2>Measure of the Rate at which New Equipment arrives</h2>
    </div>

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>New Equipment / Day</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="switch panel-switch-btn" *ngIf="false">
                                <span class="m-r-10 font-12">REAL TIME</span>
                                <label>OFF<input type="checkbox" id="realtime" checked><span
                                        class="lever switch-col-cyan"></span>ON</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <x-chartist [type]="type" [data]="data" [options]="options" [events]="events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>