<form autocomplete="off" #dmlEmpModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ !_id ? 'Add New ' : 'Update ' }} Employee</h1>
    <mat-dialog-content style="width:800px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'UserDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="UserName" [placeholder]="'UserName' | localize" [(ngModel)]="employee.user.userName" required minlength="2" maxlength="32" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="Name" [placeholder]="'Name' | localize" [(ngModel)]="employee.user.name" required maxlength="32" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="Phone" [placeholder]="'Phone Number' | localize" [(ngModel)]="employee.user.phoneNumber" maxlength="32" />
                        </mat-form-field>
                        <div class="checkbox-wrapper">
                            <mat-checkbox name="IsActive" [(ngModel)]="employee.user.isActive">
                                {{ "IsActive" | localize }}
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="EmailAddress" [placeholder]="'EmailAddress' | localize" [(ngModel)]="employee.user.emailAddress" type="email" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="Surname" [placeholder]="'Surname' | localize" [(ngModel)]="employee.user.surname" required maxlength="32" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="IdNo" [placeholder]="'Id Number' | localize" [(ngModel)]="employee.idNo" maxlength="32" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select matInput name="DepartmentId" #cmbDeptId [placeholder]="'Select Department'" [(ngModel)]="employee.departmentId" required>
                                <mat-option *ngFor="let item of departments" [value]="item.id">{{ item.department.deptName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'UserRoles' | localize">
                <br />
                <div class="row-fluid">
                    <ng-template ngFor let-role [ngForOf]="roles">
                        <div class="col-sm-6">
                            <div class="checkbox-wrapper">
                                <mat-checkbox [id]="'chck'+role.normalizedName" class="check-role" [checked]="isRoleChecked(role.normalizedName)" (change)="onRoleChange(role, $event)">
                                    {{ role.name }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
                  {{ "Cancel" | localize }}
                </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!dmlEmpModal.form.valid || saving">
                  {{ "Save" | localize }}
                </button>
    </div>
</form>