<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a routerLink="/org/tenants" class="navbar-brand" style="background: url(./assets/images/ebox-tiny.png) no-repeat center;color: transparent;" >EMS09</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="tenantId" ><a [routerLink]="['/app/home']" routerLinkActive="router-link-active"   data-close="true" title="operations"><i class="material-icons">dashboard</i></a></li>
                <li><a routerLink="/org"  data-close="true" title="Business"><i class="material-icons">business</i></a></li>
                <li><a href="javascript:void(0);" class="js-org-sidebar" data-close="true" title="business"><i class="material-icons">work</i></a></li>
                <topbar-languageswitch></topbar-languageswitch>
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </div>
</nav>
