<aside id="orgsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#business" data-toggle="tab">BUSINESS</a></li>
        <li role="presentation"><a href="#roles" data-toggle="tab">ROLES</a></li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active in active" id="business">
            <div class="demo-business">
                <p *ngIf="items.selected > 0" >SELECTED</p>
                <ul  *ngIf="items.selected > 0" class="setting-list">
                    <li *ngIf="items.selected" >
                        <a (click)="editTenant(tenant)">
                            <span>Edit</span>
                            <div class="switch">
                                <i class="material-icons">edit</i><i class="material-icons">arrow_left</i>
                            </div>
                        </a>
                    </li>
                    
                </ul>
                <p>OTHER</p>
                <ul class="setting-list">
                    <li>
                        <a [routerLink]="['/host/tenants']">
                            <span>List</span>
                            <div class="switch">
                                <i class="material-icons">list</i><i class="material-icons">arrow_left</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a (click)="createTenant()">
                            <span>New</span>
                            <div class="switch">
                                <i class="material-icons">add</i><i class="material-icons">arrow_left</i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="roles">
            <div class="demo-roles">

            </div>
        </div>

    </div>
</aside>
