.file-input-prompt {
  min-height: 50px;
  display: flex;
}

.file-input-prompt input[type="file"] {
  display: none;
}

.file-input-prompt label {
  width: 100%;
  margin: 0.6em;
  font-size: 16px !important;
}

.file-input-prompt label:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36), 0 2px 10px rgba(0, 0, 0, 0.24) !important;
  color: #000;
}

.img-rm {
  position: relative;
}
.img-rm.outline {
  border: 1px dotted #888;
}
.img-rm button {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
  background-color: transparent;
}

.card hr {
  margin: 5px 0;
}
.card .item-description {
  overflow-y: auto;
  max-height: 48px;
}
.card .table {
  margin-bottom: 0;
}
.pre-line {
  white-space: pre-line;
}
.overflow-y120 {
  max-height: 120px;
  overflow-y: auto;
}

.row span.seperator {
  padding: 0 0.8em;
}
.ct-label {
  font-size: 12px;
}

.hover-red:hover mat-icon {
  color: #f00;
}
.hover-black:hover mat-icon {
  color: #000;
}
.hover-purple:hover mat-icon {
  color: rgb(127, 17, 170);
}
.table-custom td {
  padding: 3px 0;
}
.table-custom td:last-child {
  color: #000;
  font-weight: 700;
}

.table-right {
  margin-left: auto;
}
.table-right td:nth-last-child(2) {
  padding-right: 1em;
}

.table.padding td {
  padding: 5px 5px 0 5px !important;
}
.table.padding th {
  padding-bottom: 0.3em;
}

.material-icons.selectable {
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
}
.material-icons.selectable:hover {
  color: purple;
}

.flip-x {
  transform: rotateY(180deg);
}

.slim .col-md-6 {
  margin-bottom: 0.6em !important;
}

.row .dotted {
  border: 0 dotted #888;
}
.row .dotted.left {
  border-left-width: 1px;
}
.row .dotted.right {
  border-right-width: 1px;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header.dim {
  opacity: 0.4;
}
.header.item.selected, .header.item.selected .btn-primary {
    background-color: #fff !important;
}
.header.item.selected {
  border-left-color: #fff!important;
}
.header.item.selected .btn-primary{
    color: #673AB7 !important;
    border: 2px solid #673AB7 ;
}

.header.item:not(.selected) h2 u{
  text-decoration: none;
}

.border-open{
  border: 2px solid #ffffff ;
}
.border-open.top{
  border-top-color:#673AB7!important;
}
.border-open.right{
  border-right-color:#673AB7!important;
  float: none !important;
}
.border-open.bottom{
  border-bottom-color:#673AB7!important;
}
.border-open.left{
  border-left-color:#673AB7!important;
  float: none !important;
}
.no-disable.btn[disabled], fieldset[disabled] .no-disable.btn {
  filter: alpha(opacity=100);
  opacity: 1;
}
/*bounce*/
.bounce-x {
  animation: bounce-x 1s ease infinite;
  position: relative;
}
@keyframes bounce-x {
  from {
    right: -5px;
  }
  50% {
    right: 5px;
  }
  to {
    right: -5px;
  }
}
.bounce-y {
  animation: bounce-y 1s ease infinite;
  position: relative;
}
@keyframes bounce-y {
  from {
    bottom: -5px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: -5px;
  }
}
