<form autocomplete="off" #logFaultModal="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-6">
            <h1 mat-dialog-title><span class="">Reporting Fault</span> </h1>
        </div>
        <div class="col-md-6">
            <h4 class="text-right"> {{ _target.equipment.title }} </h4>
        </div>
    </div>

    <mat-dialog-content style="width:800px;">
            <div class="row-fluid">
                    <div class="col-md-6">
                            <div class="row">
                                    <div class="col-12"><img id="item_photo" [src]="image" height="320" /></div>
                            </div>
                            <div class="box" style="border-top: 1px dotted #444; padding-top: .6em">
                                    <div class="row">
                                            <div class="col-md-6"> Item Serial <span></span> </div>
                                            <div class="col-md-6"> <span class="text-bold"> {{ _target.productSerial }} </span>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-6"> Device Type <span></span> </div>
                                            <div class="col-md-6"> <span [ngClass]="{'text-bold': true}"> {{ _target.equipment.equipmentType.title }} </span> </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-6"> Date Received <span></span> </div>
                                            <div class="col-md-6"> <span class="text-bold">
                                                            {{ _target.usageDate | date:'y/M/d H:m' }} </span> </div>
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <mat-form-field>
                                    <textarea
                                      matInput
                                      name="description"
                                      [placeholder]="'Fault Description' | localize"
                                      [(ngModel)]="fault.description"
                                      required
                                      maxlength="256"
                                      style="min-height: 98px;"
                                    ></textarea>
                                  </mat-form-field>
                    </div>
            </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
            <button mat-button type="button" [disabled]="saving" (click)="close(false)">
                      {{ "Cancel" | localize }}
                    </button>
            <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!logFaultModal.form.valid || saving">
                      {{ "Submit" | localize }}
            </button>
        </div>
</form>